<html>
<head>
    <title>LEARN DJANGO</title>
</head>
<body>
<h1>LET'S LEARN DJANGO ! !</h1>
<p>AN EXAMPLE OF HTML</p>
<div>
    <h1><a href="https://www.pondokprogrammer.com/">WEBSITE PONDOK IT</a></h1>
</div>

<div>
    <h2><a href="">My first post</a></h2>
    <p>THE GREAT WIYONO. THE GREAT WIYONO IS A LEGEND MAN, HE CAN CODE ANYTHING YOU WANT AS LONG AS YOU IDIOT, LOL</p>
    <p>published: {{ post.published_date }}</p>
</div>


<div>
    {% for post in posts %}
    <h2><a href="">{{ post.title }}</a></h2>
    <p>JAPAN IS A GREAT PLACE AND GREAT DISCIPLINE, I LIKE JAPAN ONLY BECAUSE THEY'RE DISCIPLINE, AND BTW, SOMEONE WHO
        LIKES JAPANESEE CULTURE/ALTITUDE/DISCIPLINE IS NOT LABELED AS A WEEBO.
    <p>{{ post.text|linebreaksbr }}</p>
    <p>published: {{ post.published_date }}</p>
    {% endfor %}

</div>


</body>
</html>