<html>
<head>
    <title>LEARN DJANGO</title>
</head>
<body>
<h1>LET'S LEARN DJANGO ! !</h1>
<p>AN EXAMPLE OF HTML</p>
<div>
    <h1><a href="https://www.pondokprogrammer.com/">WEBSITE PONDOK IT</a></h1>
</div>

<div>
    <h2><a href="">My first post</a></h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida
        at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
        sit amet risus.</p>
    <p>published: 12.02.2019, 09:50</p>
</div>

<div>
    <h2><a href="">My second post</a></h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida
        at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    <p>published: 12.02.2019, 09:55</p>
</div>
</body>
</html>