<html>
<head>
    <title>LEARN DJANGO</title>
</head>
<body>
<h1>LET'S LEARN DJANGO ! !</h1>
<p>AN EXAMPLE OF HTML</p>
<div>
    <h1><a href="https://www.pondokprogrammer.com/">WEBSITE PONDOK IT</a></h1>
</div>

<div>
    <h2><a href="">My first post</a></h2>
    <p>THE GREAT WIYONO. THE GREAT WIYONO IS A LEGEND MAN, HE CAN CODE ANYTHING YOU WANT AS LONG AS YOU IDIOT, LOL</p>
    <p>published: 12.02.2019, 09:50</p>
</div>

<div>
    <h2><a href="">My second post</a></h2>
    <p>JAPAN IS A GREAT PLACE AND GREAT DISCIPLINE, I LIKE JAPAN ONLY BECAUSE THEY'RE DISCIPLINE, AND BTW, SOMEONE WHO
        LIKES JAPAN CULTURE/ALTITUDE/DISCIPLINE IS NOT LABELED AS A WEEBO.</p>
    <p>published: 12.02.2019, 09:55</p>
</div>
</body>
</html>